{% extends "layout.html" %}

{% block content %}



<div class="row">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="row">

    <h1 style="text-align:center"> About The Project</h1>

    <p> Name: Omer Ben Yossef</p>

    <p> Class: 10th grade</p>
    <p> school: Tichonet </p>
    <p> This project is about showing the stats such as points, wins and other stats for  all NBA teams for 2000 to 2018 seasons. </p>

    <p> <strong> The project combines two main topics:</strong></p>

    <p> * Data Science </p>
    <p> * Programming in the Web Environment </p>

    <p> As part of the project I located one dataset about nba teams' stats,     I desighned and built a website which gives the website's visitors access to the data with basic analysis extraction and presentation tools.  </p>
    <p> <strong> the project will contain the next technological components: </strong> </p>
    <p>  *  Python language </p>
    <p> * Pandas Library </p>
    <p> * flask as a As infrastructure for the project </p>


    <div class="row my-grid-borders">
        <table class="table table-striped heb">
            <tbody>
                <tr>
                    <td dir="rtl"><a class="btn btn-primary heb" href="https://docs.google.com/document/d/1z8wlThLWMZUkw6Vb0iRAKg1UX5YqV5SajexjZZXbOQM/edit" target="_blank">Go &raquo;</a></td>
                    <td dir="ltr">Link to the project's specification document:</td>

                </tr>
                <tr>
                    <td dir="rtl"><a class="btn btn-primary heb" href="https://github.com/omerbenyossef/myfinalproject" target="_blank">Go &raquo;</a></td>
                    <td dir="ltr">Link to the project's GitHub code:</td>
                </tr>
            </tbody>
        </table>


    </div>


    {% endblock %}
