{% extends "layout.html" %}

{% block content %}



<div class="row">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="row">
    <h2></h2>
    <br /><br />
</div>
<div class="row">
    <div class="col-md-6">
        <h2 class="heb">Name - Omer Ben Yossef</h2>
        <h4 class="heb">Email - omerbenyossef77@gmail.com</h4>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
        <img class="contain" src={{ img_oran }} alt='Missing' height="400" width="350">
    </div>
</div>

{% endblock %}