{% extends "layout.html" %}

{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="row my-grid-borders">
        <div class="col-md-5 my-grid-borders">
            <form method="post">
                {{ form1.csrf_token }}
                <input class="btn btn-success" type="submit" name="action" value="Expand">
            </form>
        </div>
        <div class="col-md-5 my-grid-borders">
            <form method="post">
                {{ form2.csrf_token }}
                <input class="btn btn-danger" type="submit" name="action" value="Collapse">
            </form>
        </div>
        <div class="row my-grid-borders">
            {{ raw_data_table | safe}}
        </div>


        {% block content %}

        <h2>{{ title }}.</h2>
        <h3>{{ message }}</h3>
        <address>

        </address>


        <p>Use this area to provide additional information.</p>

        {% endblock %}
