{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>NBA <img src="https://cdn.freebiesupply.com/images/large/2x/nba-logo-transparent.png" height="150" width="75" /> </h1>
    <h4>The National Basketball Association (NBA) is a men's professional basketball league in North America, composed of 30 teams (29 in the United States and 1 in Canada). It is one of the four major professional sports leagues in the United States and Canada, and is widely considered to be the premier men's professional basketball league in the world. some of the greatest teams of all time are Boston Celtics, Los Angeles Lakers and Chicago Bulls.</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="{{ img_american_flag }}" height="200" width="300">
    </div>
    <div class="col-md-4">
        <img src="{{ img_ethereum }}" height="200" width="300">
    </div>
    <div class="col-md-4">
        <img src="{{ img_lebron }}" height="200" width="300">
    </div>
</div>

{% endblock %}
